.topnav {
    background-color: rgb(10, 29, 9);
    overflow: hidden;
  }
  
  /* links inside the nav */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* when hovering */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* currently selected */
  .topnav a.active {
    background-color: #5ac49d;
    color: white;
  }