*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #ffffff;
  color: #535353;
  letter-spacing: 0.5px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

img,
svg {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 128rem;
  width: min(100% - 2.5rem);
  margin: 0 auto;
}

/* Header */

.header {
  background: linear-gradient(0deg, rgba(78, 61, 61, 0.75), rgba(0, 0, 0, 0.85)),
    url('../images/hero-image.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navbar {
  padding: 15px 50px;
  position: absolute;
  top: 3.5rem;
  left: 0;
  right: 0;
  width: fit-content;
  margin: 0 auto;
  z-index: 100;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3.5rem;
}

.navbar-links-item {
  font-size: 1.8rem;
  font-weight: 600;
  transition: 300ms ease;
}

.navbar-links-item:hover {
  color: #ce9f61;
}

.navbar-links-item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  font-size: 2rem;
  background-color: #454040;
  border-radius: 50%;
}

.logo {
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #ffffff;
  color: #ce9f61;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(206, 159, 97);
}

.header-content {
  padding: 180px 0 100px 0;
  text-align: center;
}

.header-title {
  font-size: 4.2rem;
  line-height: 1.25;
  text-transform: uppercase;
}

.big-logo {
  width: 12rem;
  height: 12rem;
  font-size: 7.2rem;
  border-width: 5px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.header-text {
  font-size: 1.8rem;
  font-style: italic;
  margin-top: 0.5rem;
}

.header-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.5rem 2.5rem;
  flex-wrap: wrap;
  margin-top: 7.5rem;
}

.header-list-item {
  flex: 1 1 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 10px;
}

.header-list-item > i {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #535353;
  border: 2px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: -32px;
}

.header-list-item > span {
  font-size: 2.2rem;
  font-weight: 500;
  margin-top: 1.5rem;
}

/* Main-Content */
.section-container {
  max-width: 99.2rem;
  width: min(100% - 2.5rem);
  margin: 0 auto;
}

/* Acupunture-Section */

.acu-msg {
  padding-top: 100px;
}

.acu-msg-title {
  font-size: 4.5rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.acu-msg-iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.acu-msg-iframe > iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.acu-msg-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  flex-wrap: wrap;
  margin-top: 7.5rem;
}

.acu-msg-card {
  flex: 1 1 34rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 20px;
  transition: 300ms ease;
}

.acu-msg-card:hover {
  transform: translateY(-5px);
}

.acu-msg-card > img {
  width: 100%;
  height: 29rem;
  object-fit: cover;
  border-radius: 5px;
  border: 5px solid #d5d5d5;
}

.acu-msg-card-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 1.5rem;
  text-align: center;
  color: #ce9f61;
}

.acu-msg-card-text {
  margin-top: 0.75rem;
  text-align: center;
  font-weight: 500;
}

/* Contact-Section */

.contact {
  background-image: url('../images/contact-img.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 100px 0;
  color: #ffffff;
}

.contact-tag {
  font-size: 2.4rem;
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
  background-color: rgba(220, 174, 158, 0.2);
  border-radius: 5px;
}

.contact-title {
  font-size: 4.5rem;
  text-align: center;
  color: #ce9f61;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem 5rem;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.contact-form {
  flex: 1;
}

.contact-form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem 1.5rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.contact-form-field > input,
.contact-form-field > textarea {
  display: block;
  width: 48%;
  padding: 12px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 500;
}

.contact-form-field > input::placeholder,
.contact-form-field > textarea::placeholder {
  color: #d5d5d5;
}

.contact-form-field > textarea {
  width: 100%;
  height: 20rem;
}

.contact-form-btn {
  display: block;
  width: 15rem;
  margin: 0 auto;
  margin-top: 3.5rem;
  padding: 15px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #ce9f61;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}

.contact-details {
  width: 45rem;
  background-color: #454040;
  padding: 25px;
  border-radius: 5px;
}

.contact-details-item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.contact-details-item > i {
  font-size: 1.8rem;
}

.contact-details-map > iframe {
  display: block;
  width: 100%;
  height: 25rem;
  border-radius: 8px;
}


/*Different platforms*/

@media (max-width: 992px) {
  .contact-form-field {
    flex-direction: column;
  }

  .contact-form-field > input {
    width: 100%;
  }
}

@media (max-width: 850px) {
  .contact-content {
    flex-direction: column;
  }

  .contact-form,
  .contact-details {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .navbar {
    padding: 15px 25px;
  }

  .navbar-links {
    column-gap: 1.5rem;
  }

  .navbar-links-item {
    font-size: 1.6rem;
  }

  .header-title {
    font-size: 3.2rem;
  }

  .header-title > br {
    display: none;
  }

  .header-list-item > span {
    font-size: 1.8rem;
  }
}

@media (max-width: 500px) {
  .header-list {
    column-gap: 1.0rem;
  }
}
